.tools {
    ul {
        padding: 0;

        li {
            margin: 2px 0;
            font-size: 80%;
            border-radius: 999vmax;
            background-color: var(--theme-color-neutral-1);
            color: var(--theme-color-on-neutral-1);
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;
            padding: 0 .5em;
        }
    }
}